@using WebApp.Models
@model IEnumerable<Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/About/Index" target="_blank">Hakkımızda</a>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.ImageUrl" alt="asdasdadasd">
                <div class="card-body">
                    <p class="card-text">@item.Name</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Detay</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Düzenle</button>
                        </div>
                        <small class="text-muted">@item.Director</small>
                        <small class="text-muted">@item.ImdbRate</small>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>