<ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item">
        <a href="/Home/Index" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Dashboards">Ana Panel</div>
            @*                            <div class="badge bg-danger rounded-pill ms-auto">5</div>
            *@
        </a>
        <ul class="menu-sub">

            <li class="menu-item">
                <a href="/Home/Index" class="menu-link">
                    <div data-i18n="Analytics">Film Listesi</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Movie/AddMovie" class="menu-link">
                    <div data-i18n="Analytics">Film Ekle</div>
                </a>
            </li>

        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Dashboards">Kategori Yönetimi</div>
        </a>
        <ul class="menu-sub">

            <li class="menu-item">
                <a href="/Category/Index" class="menu-link">
                    <div data-i18n="Analytics">Kategori Listesi</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Category/AddCategory" class="menu-link">
                    <div data-i18n="Analytics">Kategori Ekle</div>
                </a>
            </li>

        </ul>
    </li>

    @if (User.IsInRole("Admin"))
    {
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Yönetici Menüsü</span>
        </li>
        <!-- Apps -->
        <li class="menu-item">
            <a href="/User/Register"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Email">Kullanıcı Oluştur</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/User/Index"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-list-ul"></i>
                <div data-i18n="Chat">Kullanıcı Listesi</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Rol Yönetimi</div>
            </a>
            <ul class="menu-sub">

                <li class="menu-item">
                    <a href="/Role/Index" class="menu-link">
                        <div data-i18n="Analytics">Rol Listesi</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Role/CreateRole" class="menu-link">
                        <div data-i18n="Analytics">Rol Ekle</div>
                    </a>
                </li>

            </ul>
        </li>
    }

    

</ul>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Tüm menü bağlantılarını seç
        var menuLinks = document.querySelectorAll('.menu-link');

        // Her menü bağlantısı için
        menuLinks.forEach(function (link) {
            // Bağlantının URL'sini al
            var linkUrl = link.getAttribute('href');

            // Eğer bağlantı URL'si, mevcut sayfa URL'si ile eşleşiyorsa
            if (window.location.href.indexOf(linkUrl) !== -1) {
                // Menü öğesine "active" veya "open" sınıfını ekle
                link.parentElement.classList.add('active');
                // İhtiyaç halinde üst menünün de açık olması gerekiyorsa eğer
                link.closest('.menu-item').classList.add('open');
            }

            // Alt menü varsa
            var subMenu = link.nextElementSibling;
            if (subMenu && subMenu.classList.contains('menu-sub')) {
                // Alt menüdeki bağlantılar kontrol edilir
                var subMenuLinks = subMenu.querySelectorAll('.menu-link');
                subMenuLinks.forEach(function (subLink) {
                    var subLinkUrl = subLink.getAttribute('href');
                    if (window.location.href.indexOf(subLinkUrl) !== -1) {
                        // Alt menü bağlantısı ile eşleşen sayfa varsa, üst menüyü açık hale getir
                        link.closest('.menu-item').classList.add('active');
                        link.closest('.menu-item').classList.add('open');
                    }
                });
            }

            // Anasayfadaysak Ana Panel'i aktif hale getir
            if (window.location.pathname === '/') {
                var dashboardLink = document.querySelector('[data-i18n="Dashboards"]');
                if (dashboardLink && dashboardLink.parentElement.classList.contains('menu-item')) {
                    dashboardLink.parentElement.classList.add('active');
                }
            }
        });
    });
</script>