@using Entity.Concrete;

@{
    ViewData["Title"] = "AddMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script>
    $(function(){
        $('#CityId').change(function(){
            var id = $('#CityId').val();
            $.ajax({
                url:'/Customer/GetTown',
                data:{p:id},
                type:"POST",
                dataType:"Json",
                success:function(data){
                    console.log(data);
                    $('#TownId').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#TownId').
                            append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
            });
        });
    });
</script>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Müşteri Yönetimi/</span> Müşteri Ekleme Formu</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                </div>
                <div class="card-body">
                    <form action="/Customer/AddCustomer" id="example-form" onsubmit="sendForm(event)" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Adı</label>
                            <div class="col-sm-10">
                                <input type="text" name="Name" class="form-control" id="basic-default-name" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-company">Soyadı</label>
                            <div class="col-sm-10">
                                <input type="text" name="Surname" class="form-control"/>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">Şehir Seçimi</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("CityId", (List<SelectListItem>)ViewBag.City, "Şehir Seçiniz", new { @name = "CityId", @class = "form-select form-control col-sm-10" })
                               
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">İlçe Seçimi</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("TownId", (List<SelectListItem>)ViewBag.Town, "İlçe Seçiniz", new { @name = "TownId", @class = "form-select form-control col-sm-10" })

                            </div>

                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-company">Dosya Seçiniz</label>
                            <div class="col-sm-10">
                                <input type="file" name="File" class="form-control" multiple/>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Müşteri Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function sendForm(e) {
        e.preventDefault();

        Swal.fire({
            title: 'Kaydetmek istediğinizden emin misiniz?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: "Evet!",
            cancelButtonText: "Vazgeç"
        }).then(result => {
            if (result.isConfirmed) {
                const myForm = document.getElementById('example-form');
                myForm.submit();
            }
        })
    }
</script>